<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.halm.rcv.infra.mapper.AcceptanceLineMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hzero.halm.rcv.domain.entity.AcceptanceLine">
        <result column="acceptance_line_id" property="acceptanceLineId" jdbcType="DECIMAL"/>
        <result column="acceptance_header_id" property="acceptanceHeaderId" jdbcType="DECIMAL"/>
        <result column="contract_id" property="contractId" jdbcType="DECIMAL"/>
        <result column="contract_line_id" property="contractLineId" jdbcType="DECIMAL"/>
        <result column="project_id" property="projectId" jdbcType="DECIMAL"/>
        <result column="wbs_line_id" property="wbsLineId" jdbcType="DECIMAL"/>
        <result column="budget_header_id" property="budgetHeaderId" jdbcType="DECIMAL"/>
        <result column="budget_line_id" property="budgetLineId" jdbcType="DECIMAL"/>
        <result column="product_category_id" property="productCategoryId" jdbcType="DECIMAL"/>
        <result column="assets_set_id" property="assetsSetId" jdbcType="DECIMAL"/>
        <result column="acceptance_line_name" property="acceptanceLineName" jdbcType="VARCHAR"/>
        <result column="delivery_list_id" property="deliveryListId" jdbcType="DECIMAL"/>
        <result column="specifications" property="specifications" jdbcType="VARCHAR"/>
        <result column="unit_price" property="unitPrice" jdbcType="DECIMAL"/>
        <result column="uom_id" property="uomId" jdbcType="DECIMAL"/>
        <result column="delivery_quantity" property="deliveryQuantity" jdbcType="DECIMAL"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>
    <select id="listAcceptanceLineByHeaderIds" resultType="org.hzero.halm.rcv.domain.entity.AcceptanceLine">
        SELECT
        aal.acceptance_line_id,
        aal.acceptance_header_id,
        aal.contract_id,
        aal.contract_line_id,
        aal.project_id,
        apr.project_name projectMeaning,
        aal.wbs_line_id,
        wbsl.task_name wbs_line_meaning,
        aal.budget_header_id,
        aal.budget_line_id,
        aal.product_category_id,
        apc.product_category_name product_category_meaning,
        aal.assets_set_id,
        ass.assets_set_name assets_set_meaning,
        aal.acceptance_line_name,
        aal.delivery_list_id,
        adl.delivery_list_name delivery_list_meaning,
        aal.specifications,
        aal.unit_price,
        aal.uom_id,
        uom.uom_name uomMeaning,
        aal.delivery_quantity,
        aal.description,
        aal.tenant_id,
        aal.object_version_number
        FROM
        arcv_acceptance_line aal
        LEFT JOIN aafm_assets_set ass ON ass.assets_set_id = aal.assets_set_id
        LEFT JOIN aafm_product_categories apc ON apc.product_category_id = aal.product_category_id
        LEFT JOIN appm_project_info apr ON apr.project_id = aal.project_id
        LEFT JOIN appm_project_wbs_lines wbsl ON wbsl.wbs_line_id = aal.wbs_line_id
        LEFT JOIN hpfm_uom uom ON uom.uom_id = aal.uom_id
        LEFT JOIN arcv_delivery_list adl ON adl.delivery_list_id = aal.delivery_list_id
        WHERE 1=1
        AND aal.tenant_id=#{tenantId}
        <if test="acceptanceHeaderIds !=null and acceptanceHeaderIds.size>0">
            AND aal.acceptance_header_id IN
            <foreach collection="acceptanceHeaderIds" open="(" item="acceptanceHeaderId" close=")" separator=",">
                #{acceptanceHeaderId}
            </foreach>
        </if>
    </select>
</mapper>