<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.halm.atn.infra.mapper.DisposeOrderLineMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hzero.halm.atn.domain.entity.DisposeOrderLine">
        <result column="dispose_line_id" property="disposeLineId" jdbcType="DECIMAL"/>
        <result column="dispose_header_id" property="disposeHeaderId" jdbcType="DECIMAL"/>
        <result column="asset_id" property="assetId" jdbcType="DECIMAL"/>
        <result column="line_num" property="lineNum" jdbcType="DECIMAL"/>
        <result column="process_status" property="processStatus" jdbcType="VARCHAR"/>
        <result column="current_asset_status_id" property="currentAssetStatusId" jdbcType="DECIMAL"/>
        <result column="target_asset_status_id" property="targetAssetStatusId" jdbcType="DECIMAL"/>
        <result column="dispose_type_code" property="disposeTypeCode" jdbcType="VARCHAR"/>
        <result column="dispose_person_id" property="disposePersonId" jdbcType="DECIMAL"/>
        <result column="dispose_price" property="disposePrice" jdbcType="DECIMAL"/>
        <result column="dispose_cost" property="disposeCost" jdbcType="DECIMAL"/>
        <result column="dispose_rate" property="disposeRate" jdbcType="DECIMAL"/>
        <result column="dispose_income" property="disposeIncome" jdbcType="DECIMAL"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>

    <select id="selectLineList" resultType="org.hzero.halm.atn.domain.entity.DisposeOrderLine">
        SELECT
        adol.dispose_line_id,
        adol.dispose_header_id,
        adol.asset_id,
        adol.process_status,
        adol.current_asset_status_id,
        CASE WHEN aasc.user_status_name IS NULL
        THEN aasc.sys_status_name
        ELSE aasc.user_status_name
        END AS currentAssetStatusName,
        adol.target_asset_status_id,
        CASE WHEN aast.user_status_name IS NULL
        THEN aast.sys_status_name
        ELSE aast.user_status_name
        END AS targetAssetStatusName,
        adol.dispose_type_code,
        adol.dispose_person_id,
        hec.name disposePersonName,
        adol.dispose_price,
        adol.dispose_cost,
        adol.dispose_rate,
        adol.dispose_income,
        adol.remark,
        adol.line_num,
        adol.description,
        adol.tenant_id,
        adol.object_version_number,
        aa.asset_name assetName,
        aa.asset_num assetNum,
        aa.asset_desc assetDesc,
        CONCAT(adoh.dispose_num, CONCAT('-', adol.line_num)) lineNumber,
        aa.name_rule_code nameRuleCode
        FROM
        aatn_dispose_order_line adol
        LEFT JOIN aatn_dispose_order_header adoh ON adoh.dispose_header_id = adol.dispose_header_id
        LEFT JOIN aafm_asset aa ON adol.asset_id = aa.asset_id
        LEFT JOIN aafm_asset_status aasc ON adol.current_asset_status_id = aasc.asset_status_id
        LEFT JOIN aafm_asset_status aast ON adol.target_asset_status_id = aast.asset_status_id
        LEFT JOIN hpfm_employee hec ON hec.employee_id = adol.dispose_person_id
       <where>
           <if test="tenantId != null">
               AND adol.tenant_id = #{tenantId}
           </if>
           <if test="disposeHeaderId != null">
               AND adol.dispose_header_id = #{disposeHeaderId}
           </if>
       </where>
    </select>

    <select id="entryProcess" parameterType="org.hzero.halm.atn.domain.entity.DisposeOrderHeader" resultType="org.hzero.halm.atn.domain.entity.DisposeOrderLine">
        SELECT
        adoh.dispose_num disposeNum,
        adol.dispose_line_id,
        adol.dispose_header_id,
        adol.asset_id,
        adol.process_status,
        adol.current_asset_status_id,
        CASE WHEN aasc.user_status_name IS NULL
        THEN aasc.sys_status_name
        ELSE aasc.user_status_name
        END AS currentAssetStatusName,
        adol.target_asset_status_id,
        CASE WHEN aast.user_status_name IS NULL
        THEN aast.sys_status_name
        ELSE aast.user_status_name
        END AS targetAssetStatusName,
        adol.dispose_type_code,
        adol.dispose_person_id,
        hec.name disposePersonName,
        adol.dispose_price,
        adol.dispose_cost,
        adol.dispose_rate,
        adol.line_num,
        adol.description,
        adol.dispose_income,
        adol.remark,
        adol.tenant_id,
        adol.object_version_number,
        aa.asset_name assetName,
        aa.asset_num assetNum,
        aa.asset_desc assetDesc,
        CONCAT(adoh.dispose_num, CONCAT('-', adol.line_num)) lineNumber,
        aa.name_rule_code nameRuleCode
        FROM
        aatn_dispose_order_line adol
        LEFT JOIN aatn_dispose_order_header adoh ON adoh.dispose_header_id = adol.dispose_header_id
        LEFT JOIN aafm_asset aa ON adol.asset_id = aa.asset_id
        LEFT JOIN aafm_asset_status aasc ON adol.current_asset_status_id = aasc.asset_status_id
        LEFT JOIN aafm_asset_status aast ON adol.target_asset_status_id = aast.asset_status_id
        LEFT JOIN hpfm_employee hec ON hec.employee_id = adol.dispose_person_id
        <where>
            <if test="tenantId != null">
                AND adol.tenant_id = #{tenantId}
            </if>
            <if test="lineAssetId != null and lineAssetId != ''">
                AND adol.adol.asset_id = #{lineAssetId}
            </if>
            <if test="lineProcessStatus != null">
                AND adol.process_status = #{lineProcessStatus}
            </if>
            <if test="disposeHeaderId != null">
                AND adol.dispose_header_id = #{disposeHeaderId}
            </if>
            <if test="processStatus!=null and processStatus!=''">
                AND adoh.process_status = #{processStatus}
            </if>
            <if test="principalPersonId!=null">
                AND adoh.principal_person_id = #{principalPersonId}
            </if>
            <if test="disposeNum!=null and disposeNum!=''">
                <bind name="disposeNumLike" value="'%'+disposeNum+'%'"/>
                AND adoh.dispose_num LIKE #{disposeNumLike}
            </if>
            <if test="titleOverview!=null and titleOverview!=''">
                <bind name="titleOverviewLike" value="'%'+titleOverview+'%'"/>
                AND adoh.title_overview LIKE #{titleOverviewLike}
            </if>
            <if test="planStartDateFrom != null and planStartDateFrom != ''">
                AND adoh.plan_start_date &gt;= #{planStartDateFrom}
            </if>
            <if test="planStartDateTo != null and planStartDateTo != ''">
                AND adoh.plan_start_date &lt;= #{planStartDateTo}
            </if>
            <if test="planEndDateFrom != null and planEndDateFrom != ''">
                AND adoh.plan_end_date &gt;= #{planEndDateFrom}
            </if>
            <if test="planEndDateTo != null and planEndDateTo != ''">
                AND adoh.plan_end_date &lt;= #{planEndDateTo}
            </if>
        </where>
    </select>

    <select id="selectMaxLineNum" resultType="java.lang.Integer">
        SELECT
            max(adol.line_num)
        FROM
            aatn_dispose_order_line adol
        WHERE
            adol.dispose_header_id = #{disposeOrderHeaderId}
    </select>

    <select id="selectDynamicList" parameterType="org.hzero.halm.atn.domain.entity.DisposeOrderLine" resultType="org.hzero.halm.atn.domain.entity.OrderDynamicColumn">
        SELECT
            aodc.dynamic_column_id,
            aodc.order_header_id,
            aodc.order_line_id,
            aodc.order_type_code,
            aodc.current_table_name,
            aodc.current_column_name,
            aodc.current_column_desc,
            aodc.current_column_value,
            aodc.target_column_type,
            aodc.target_column_value,
            aodc.target_column_desc,
            aodc.description,
            aodc.tenant_id,
            aodc.object_version_number
        FROM
            aatn_order_dynamic_column aodc
        <where>
            <if test="tenantId != null">
                AND aodc.tenant_id = #{tenantId}
            </if>
            <if test="disposeHeaderId != null">
                AND aodc.order_header_id = #{disposeHeaderId}
            </if>
            <if test="disposeLineId != null">
                AND aodc.order_line_id = #{disposeLineId}
            </if>
        </where>
    </select>

    <select id="getTargetAssetStatusId" resultType="java.lang.Long">
        SELECT aas.asset_status_id
        FROM aafm_asset_status aas
        WHERE aas.tenant_id=#{tenantId} AND aas.user_status_name = '已处置'
        LIMIT 1
    </select>
</mapper>