<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.halm.atn.infra.mapper.ScrapOrderLineMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hzero.halm.atn.domain.entity.ScrapOrderLine">
        <result column="scrap_line_id" property="scrapLineId" jdbcType="DECIMAL"/>
        <result column="scrap_header_id" property="scrapHeaderId" jdbcType="DECIMAL"/>
        <result column="asset_id" property="assetId" jdbcType="DECIMAL"/>
        <result column="line_num" property="lineNum" jdbcType="DECIMAL"/>
        <result column="process_status" property="processStatus" jdbcType="VARCHAR"/>
        <result column="current_asset_status" property="currentAssetStatus" jdbcType="VARCHAR"/>
        <result column="target_asset_status" property="targetAssetStatus" jdbcType="VARCHAR"/>
        <result column="current_location_id" property="currentLocationId" jdbcType="DECIMAL"/>
        <result column="target_location_id" property="targetLocationId" jdbcType="DECIMAL"/>
        <result column="original_cost" property="originalCost" jdbcType="DECIMAL"/>
        <result column="remain_cost" property="remainCost" jdbcType="DECIMAL"/>
        <result column="capitalization_date" property="capitalizationDate" jdbcType="DATE"/>
        <result column="remain_depreciation_mouth" property="remainDepreciationMouth" jdbcType="DECIMAL"/>
        <result column="scrap_type_code" property="scrapTypeCode" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>
    <select id="selectMaxLineNum" resultType="java.lang.Integer">
        SELECT
        max(asol.line_num)
        FROM aatn_scrap_order_line asol
        WHERE
        asol.scrap_header_id = #{scrapOrderHeaderId}
    </select>
    <select id="selectOrderLines" resultType="org.hzero.halm.atn.domain.entity.ScrapOrderLine">
        SELECT
            asol.line_num,
			CONCAT(CONCAT(asoh.scrap_num,'-'),asol.line_num) line_num_display,
            asol.scrap_line_id,
            asol.scrap_header_id,
            asol.asset_id,
            asset.asset_name,
            asset.asset_desc,
            asol.process_status,
            asol.current_asset_status_id,
            current_asset_status.sys_status_name current_asset_status,
            asol.target_asset_status_id,
            target_asset_status.sys_status_name target_asset_status,
            asol.current_location_id,
            currentasl.location_name current_location_name,
            asol.target_location_id,
            currentasl.location_name target_location_name,
            asol.original_cost,
            asol.remain_cost,
            asol.capitalization_date,
            asol.remain_depreciation_mouth,
            asol.scrap_type_code,
            asol.description,
            asol.remark,
            asol.dispose_type_code,
            asol.tenant_id,
            asol.object_version_number
        FROM
            aatn_scrap_order_line asol
	        LEFT JOIN aafm_asset asset ON ( asset.asset_id = asol.asset_id )
            LEFT JOIN aafm_asset_status current_asset_status ON ( current_asset_status.asset_status_id = asol.current_asset_status_id )
            LEFT JOIN aafm_asset_status target_asset_status ON ( target_asset_status.asset_status_id = asol.target_asset_status_id )
            LEFT JOIN amdm_asset_locations currentasl ON ( currentasl.asset_location_id = asol.current_location_id )
            LEFT JOIN amdm_asset_locations targetasl ON ( targetasl.asset_location_id = asol.target_location_id )
			LEFT JOIN aatn_scrap_order_header asoh ON (asoh.scrap_header_id=asol.scrap_header_id)
        WHERE 1=1
        AND  asol.scrap_header_id = #{scrapOrderHeaderId}
        AND  asol.tenant_id = #{tenantId}
    </select>
    <select id="entryProcess" parameterType="org.hzero.halm.atn.domain.entity.ScrapOrderHeader" resultType="org.hzero.halm.atn.domain.entity.ScrapOrderLine">
        SELECT
            soh.scrap_num scrapNum,
            asol.line_num,
            CONCAT(CONCAT(soh.scrap_num,'-'),asol.line_num) line_num_display,
            asol.scrap_line_id,
            asol.scrap_header_id,
            asol.asset_id,
            asset.asset_name,
            asset.asset_desc,
            asset.asset_num assetNum,
            asol.process_status,
            asol.current_asset_status_id,
            current_asset_status.sys_status_name current_asset_status,
            asol.target_asset_status_id,
            target_asset_status.sys_status_name target_asset_status,
            asol.current_location_id,
            currentasl.location_name current_location_name,
            asol.target_location_id,
            currentasl.location_name target_location_name,
            asol.original_cost,
            asol.remain_cost,
            asol.capitalization_date,
            asol.remain_depreciation_mouth,
            asol.scrap_type_code,
            asol.description,
            asol.remark,
            asol.dispose_type_code,
            asol.tenant_id,
            asol.object_version_number
        FROM
            aatn_scrap_order_line asol
	        LEFT JOIN aafm_asset asset ON ( asset.asset_id = asol.asset_id )
            LEFT JOIN aafm_asset_status current_asset_status ON ( current_asset_status.asset_status_id = asol.current_asset_status_id )
            LEFT JOIN aafm_asset_status target_asset_status ON ( target_asset_status.asset_status_id = asol.target_asset_status_id )
            LEFT JOIN amdm_asset_locations currentasl ON ( currentasl.asset_location_id = asol.current_location_id )
            LEFT JOIN amdm_asset_locations targetasl ON ( targetasl.asset_location_id = asol.target_location_id )
			LEFT JOIN aatn_scrap_order_header soh ON (soh.scrap_header_id=asol.scrap_header_id)
        <where>
            <if test="tenantId != null">
                AND soh.tenant_id = #{tenantId}
            </if>
            <if test="assetId != null">
                AND asol.asset_id = #{assetId}
            </if>
            <if test="lineProcessStatus != null">
                AND asol.process_status = #{lineProcessStatus}
            </if>
            <if test="scrapHeaderId != null">
                AND soh.scrap_header_id = #{scrapHeaderId}
            </if>
            <if test="transactionTypeId != null">
                AND soh.transaction_type_id = #{transactionTypeId}
            </if>
            <if test="processStatus != null">
                AND soh.process_status = #{processStatus}
            </if>
            <if test="principalPersonId != null">
                AND soh.principal_person_id = #{principalPersonId}
            </if>
            <if test="scrapNum != null">
                AND soh.scrap_num = #{scrapNum}
            </if>
            <if test="titleOverview != null">
                AND soh.title_overview = #{titleOverview}
            </if>
            <if test="planStartDateFrom != null">
                AND soh.plan_start_date &gt;= #{planStartDateFrom}
            </if>
            <if test="planStartDateTo != null">
                AND soh.plan_start_date &lt;= #{planStartDateTo}
            </if>
            <if test="planEndDateFrom != null">
                AND soh.plan_end_date &gt;= #{planEndDateFrom}
            </if>
            <if test="planEndDateTo != null">
                AND soh.plan_end_date &lt;= #{planEndDateTo}
            </if>
            <if test="description != null">
                AND soh.description = #{description}
            </if>
        </where>
    </select>
</mapper>